{
  "extends": "airbnb-base",
  "env": {
    'browser': true
  },
  "globals": {
    "createjs": false
  },
  "rules": {
    "default-case": 0,
    "func-names": 0,
    "no-param-reassign": 0,
    "guard-for-in": 1,
    "max-len": 1,
    "no-use-before-define": [2, "nofunc"],
    "id-length": [2, {"exceptions": ["e", "i", "j", "x", "y", "w", "h"]}]
  }
}
